<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
       <link rel="stylesheet" href="css/managesubject.css">
       <link href="https://fonts.googleapis.com/css2?family=Kite+One&family=Long+Cang&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <form class="" action="/managestudent" method="post">
      <div class="navigation">
          <ul style="list-style-type: none"class=" nav navbar-nav navbar-left">
            <li><a href="#"  class="glyphicon glyphicon-home"> Home</a></li>
          </ul>
           <ul style="list-style-type: none; margin-right:5px;color:red" class=" nav navbar-nav navbar-right">
              <li style="padding: 5px"><a href="#" class="glyphicon glyphicon-bell"></a></li>
              <!-- <li><a href="#" ><img class="avatar" src="images/avatar.png"></a> </li> -->
              <li >
                <div class="drop">


                    <button type="button" name="button" style="background-color:black; border:none; margin-top:6px; outline:none;">
                   <img class="avatar" src="image/avatar.png" alt="">

                 </button>
                    <div class="dropdown" >
                      <a href="#">Profile</a>
                       <a href="#">Progress</a>
                       <a href="#">Settings</a>
                       <a href="#">Log out</a>
                    </div>
      </div></div>
      <% var c=0 %>
      <%   sub.forEach(function(items){ %>
           <li class="list-group-item clearfix">
               <div class="col-xs-4">
                   <strong><%= items.subname %></strong><br/>
               </div>
               <div class="col-xs-2 text-right">
                   <span class="badge"><%= items.id %></span>
               </div>
               <div class="col-xs-2 text-right">
                   <%= items.password %>
               </div>
               <div class="col-xs-2 text-right">

                     <a href="/student_<%= items.id %>" class="btn btn-success" role="button">Manage</a>
               </div>
               <div class="col-xs-2 text-right">
                     <a class="btn btn-success" id="omg<%= c %>"  role="button" style="display:none">Give Quiz</a>
               </div>

           </li>

           <script >
            window.addEventListener("load", function(){
              var newButton = document.getElementById("omg<%= c %>");
              var date=new Date()
              if(date.getDate()==19){
              newButton.style.display = "block";}
            },false)
           </script>
<% c=c+1 %>
      <%   }) %>
       </ul>
   </div>

    </form>


  </body>
</html>
