<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
       <link rel="stylesheet" href="css/managesubject.css">
       <link href="https://fonts.googleapis.com/css2?family=Kite+One&family=Long+Cang&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Changa:wght@500&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>

<form class=""  action="/stuquiz<%= id %>" method="post">

      <div class="navigation">
          <ul style="list-style-type: none"class=" nav navbar-nav navbar-left">
            <li><a href="#"  class="glyphicon glyphicon-home"> Home</a></li>
          </ul>
           <ul style="list-style-type: none; margin-right:5px;color:red" class=" nav navbar-nav navbar-right">
              <li style="padding: 5px"><a href="#" class="glyphicon glyphicon-bell"></a></li>
              <!-- <li><a href="#" ><img class="avatar" src="images/avatar.png"></a> </li> -->
              <li >
                <div class="drop">


                    <button type="button" name="button" style="background-color:black; border:none; margin-top:6px; outline:none;">
                   <img class="avatar" src="image/avatar.png" alt="">

                 </button>
                    <div class="dropdown" >
                      <a href="#">Profile</a>
                       <a href="#">Progress</a>
                       <a href="#">Settings</a>
                       <a href="/">Log out</a>
                    </div>
      </div></div>
      <h1 style="text-align:center"><%= sub %></h1>
      <h3 id='time' style="text-align:center"></h3>
      <div class="container">
        <p style="text-align:right"><%= id %></p>
        <p><%= qui.date %></p>
        <p><%= qui.stime %> to <%= qui.etime %></p>
      <%  qui.qulist.forEach(function(items){ %>
        <div class="row" id="r">
          <p>Question <%= c %>:  <%= items.question %></p>
          <p>  <input type="radio" id="1<%= c%>"  name="ans<%= c%>" value="a" required> a)<%= items.o1 %></p>
          <p>  <input type="radio" id="2<%= c%>" name="ans<%= c%>" value="b" required> b)<%= items.o2 %></p>
          <p>   <input type="radio" id="3<%= c%>" name="ans<%= c%>" value="c" required>c)<%= items.o3 %></p>
          <p>   <input type="radio" id="4<%= c%>" name="ans<%= c%>" value="d" required>d)<%= items.o4 %></p>
        </div>

        <% c=c+1 }) %>
       <input type="text" name="c" value="<%= c-1 %>" hidden>
        <button type="submit" class="btn btn-success"name="button"  >SUBMIT</button>

      </div>

</form>
<script>
  var time1=("<%= qui.stime %>").split(':')
  var time2=("<%= qui.etime %>").split(':')
  // var count=(time2[0]-time1[0])*3600+(time2[1]-time1[1])*60
  var count=((time2[0]-time1[0])*3600+(time2[1]-time1[1])*60)+1
  var t=setInterval(function(){
    count = count - 1;

    if (count < 0) {
          alert("Time Up Submit the test")

        clearInterval(t);
    }
      var seconds = count % 60;
      var minutes = Math.floor(count / 60);
      var hours = Math.floor(minutes / 60);
      minutes %= 60;
      hours %= 60;

      document.getElementById("time").innerHTML = hours + "hours " + minutes + "minutes and" + seconds + " seconds left";
  },1000)
</script>
  </body>
</html>
